
body {
    font-family: 'Arial', sans-serif;
    background-color: #040D12;
    margin: 0;
    padding: 0;
}

#presentation {
    width: 75%;
    height: 600px;
    background: linear-gradient(to bottom right, #183D3D, #5C8374); 
    margin: 50px auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    margin-top: 150px;
}

.slide {
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s;
}

.slide h1 {
    font-size: 32px;
    margin-top: 40px;
    color: #93B1A6;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.slide p {
    font-size: 18px;
    margin-top: 30px;
    color: #93B1A6;
    line-height: 1.5;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #93B1A6;
}

th {
    background-color: #5C8374;
    color: #93B1A6;
    font-weight: bold;
}

#nextSlide {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to top, #5C8374, #183D3D);
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.3s;
}

#nextSlide:hover {
    background: linear-gradient(to top, #183D3D, #5C8374);
    transform: translateY(-3px);
}

#nextSlide:active {
    transform: translateY(-1px);
}
#slide1 {
    left: 0;
}

button {
    background: linear-gradient(to top, #5C8374, #183D3D);
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(to top, #183D3D, #5C8374);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(-1px);
}

/* Posición y ajustes específicos para cada botón */
#nextSlide {
    position: absolute;
    bottom: 20px;
    right: 150px; /* Ajustado para dar espacio a los otros botones */
}

#previousSlide {
    position: absolute;
    bottom: 20px;
    right: 290px; /* Posicionado a la izquierda del botón 'Siguiente' */
}

#resetSlide {
    position: absolute;
    bottom: 20px;
    right: 20px; /* Al extremo derecho, después del botón 'Siguiente' */
}

.slide {
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 100%; /* Posicionamos inicialmente todas las diapositivas a la derecha */
    overflow: hidden; /* Esto oculta cualquier contenido adicional */
    box-sizing: border-box; /* Esto asegura que el padding no expanda la diapositiva más allá de su tamaño definido */
    transition: left 0.5s; /* Ajuste de transición para que sea fluida */
}
...

